/*#region General styles and links*/
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');    
    :root{
        --darkergray: rgb(93, 93, 93);
        --darkgray: #525353;
        --normalgray: #8d8d8d;
        --lightgray: #b2b2b2;
        --lightergray: #b3b3b3;
        --bordergray: #d9d9d9;
        --lightestgray: #eeeeee;

        --offwhite: rgb(253, 253, 253);
        --darkgrayblue: rgba(195, 195, 212, 0.123);

        --lightgrayblue: rgb(158, 173, 185);
        --mediumgrayblue: rgb(96, 118, 138);
        --darkgrayblue: rgb(46, 62, 76);
    }
    *{
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    .MaxWidth{
        padding: 0 20px 0 20px;
        max-width: 1240px;
        margin: auto;
    }
    @media only screen and (max-width: 767px){
        .PageContainer{
            gap: 0;
        }
        .FormHalf{
            width: 100%;
        }
        .ImageHalf{
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px){
        .PageContainer{
            column-gap: 20px;
        }
        .FormHalf{
            width: calc(50% - 10px);
        }
        .ImageHalf{
            width: calc(50% - 10px);
        }
    }
/*#endregion*/

/*#region Form half*/
    .FormHeader{
        background-color: var(--mediumgrayblue);
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .FormSection{
        border: solid 1px var(--darkgray);
        border-bottom: 0;
        transition: all 150ms ease;
        background-color: var(--offwhite);
    }
    .FormSection > p{
        font-weight: 700;
        font-size: 20px;
        color: var(--darkergray);
    }
    .FormSubsection{
        border: solid 1px var(--darkgray);
        border-top: 0;
        border-bottom: 0;
    }
    .FormSubsection > p{
        font-weight: 500;
        font-size: 20px;
        color: var(--darkergray);
    }
    .CheckboxDiv{
        background-color: #ffffff00;
        padding: 0.4rem 1rem;
        display: inline-block;
        cursor: pointer;
        border: 1px solid var(--lightgrayblue);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 200ms;
    }
    .CheckboxDiv p{
        font-weight: 500;
        font-size: 14px;
        color: var(--lightgrayblue);
    }
    .CheckboxDiv:hover{
        background-color: var(--darkgrayblue) !important;
        border: 1px solid var(--darkgrayblue) !important;
    }
    .CheckboxDiv:hover p{
        color: white !important;
        text-shadow: 0px 0px 1px rgb(255, 255, 255) !important;
        /*font-weight: 700 !important;*/
    }
    .FormSection input{
        display: none;
    }
    .FormSection .TextInput{
        border: 1px solid var(--lightgrayblue);
        padding: 0.4rem 1rem;
        font-size: 14px;
        font-weight: 700;
        width: 10rem;
        color: var(--lightgrayblue);
    }
    .FormSection .TextInput::placeholder{
        color: var(--lightgrayblue);
        font-weight: 500;
    }

    .SendButton{
        font-size: 1rem;
        border: none;
        color: var(--grayblue);
        background-color: white;
        padding: 0.8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ColorCheckboxDiv1{
        background-color: rgba(145, 167, 201, 0.808);
        padding: 0.4rem 1rem;
        display: inline-block;
        cursor: pointer;
    }
    .ColorCheckboxDiv2{
        background-color: rgb(87, 117, 161);
        padding: 0.4rem 1rem;
        display: inline-block;
        cursor: pointer;
    }
    .ColorCheckboxDiv3{
        background-color: rgb(61, 95, 61);
        padding: 0.4rem 1rem;
        display: inline-block;
        cursor: pointer;
    }
    .ColorCheckboxDiv4{
        background-color: rgb(0, 0, 0);
        padding: 0.4rem 1rem;
        display: inline-block;
        cursor: pointer;
    }
    .Hidden{
        display: none;
        background-color: aqua;
    }
/*#endregion*/


.ImageHalf
{
    background-color: white;
}
.ImageContainer
{
    position: sticky;
    top: 1.5rem;
    width: 100%;
}
.ImageBoxFront, .ImageBoxBack
{
    width: 100%;
    position: relative;
}
.OverlayImage
{
    width: 100%;
    position: absolute;
}

.ColorOverlayDiv
{
    width: 100%;
    position: absolute;
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    background-color: wheat;
}
.ColorOverlay
{
    max-width: 100%;
    position: absolute;
}

.ColorCheckboxDiv
{
    width: 35.8px;
    height: 35.8px;
    background-position: center;
    background-size: cover;
}